body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

.Section-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(./images/aboutus/beach1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    animation: change 50s infinite ease-in-out;
    
}
.logo{
    
    text-align: center;
    padding-bottom: 60px;
    top: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 80px;   
font-family: arial black;    
color: #ddd; }

.content{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 26px;        }

.content a{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

.content a:hover{
    background: #034e88;
    color: #fff;
}

    @keyframes change{
        0%
        {
            background-image: url(../images/aboutus/beach2.jpg);
        }
        10%
        {
            background-image: url(../images/aboutus/hillstation1.jpg);
        }
        20%
        {
            background-image: url(../images/aboutus/historicplace1.jpg);
        }
        30%
        {
            background-image: url(../images/aboutus/ellora-caves.jpg);
        }
        40%
        {
            background-image: url(../images/aboutus/wildlife1.jpg);
        }
        50%
        {
            background-image: url(../images/aboutus/beach1.jpg);
        }
        60%
        {
            background-image: url(../images/aboutus/pexels-pixabay-36717.jpg);
        }
        70%
        {
            background-image: url(../images/aboutus/temple1.jpg);
        }
        80%
        {
            background-image: url(../images/aboutus/wildlife2.jpg);
        }
        90%
        {
            background-image: url(../images/aboutus/kedarnath.jpg);
        }
        100%
        {
            background-image: url(../images/aboutus/beach2.jpg);
        }
    }

    .sidebar {
    height: 100vh;
    background-color: #020210;
    width: 150px;
    position: fixed;
    top: 0;
    padding-top: 75px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    color: #ffffff;

}

.menu {
    width: 100px;
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    margin-left: 10px;
    font-size: 20px;
    background: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.menu:hover {
    display: inline;
    padding: 10px;
    color: #999;
    background: #999;
    transition: 0.5sec;
    box-shadow: 0 0 12px 6px rgb(42, 61, 72);
    color: white;

}

.sidebar-closed {
    left: -200px;
}

.navbar{
height: 12%;
display: flex;
align-items: center;
}
.logo{
width: 50px;
cursor: pointer;
margin: -90px;
}
.menu-icon{
width: 30px;
cursor: pointer;
margin-left: 1450px;
z-index: 100;

}
.menu-icon:hover{
box-shadow: 0 0 10px 8px rgb(98, 96, 96);
border-radius: 50%;

}


.intro-container{
height: 800px;
width: 1400px;
background: linear-gradient(to bottom, #ffffff 73%, #ccffff 100%);
margin-top: 200px; 
position: absolute;
box-shadow: #595959 0 0 10px;
margin-left: 60px;
}

.intro-subcontainer{
height:400px;
width: 900px;
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
background: linear-gradient(to bottom, #ffffff 50%, #66ffff 100%);
top: -150px;
box-shadow: #ffb3ec 0 0 20px;

}

.sub-container-text1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 26px;
text-align: center;
padding: 12px;
}

.sub-container-text2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 26px;
display: block;
margin-left: auto;
margin-right: auto;
background-color: #ff751a;
height: 30px;
width: 250px;
color: white;
text-align: center;
}

.sub-container-text3{
text-align: center;
margin-left: 70px;
margin-right: 70px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: larger;
background-image: url(../images/index/backg-img\ \(1\).jpg);

}


.feature-heading{
padding-top: 50px;
text-align: center;
font-size: 40px;
color: #ff751a;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.feature-text{
text-align: center;
font-size: 24px;
color: #000000;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 100px;
margin-right: 100px;
}

.feature-text-2{
margin-top: -500;
margin-left: 80;
margin-right: 80;
padding-left: 60px;
padding-right: 60px;
padding-bottom: 200px;
text-align: center;
font-size: 24px;
color: #000000;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: rgba(0, 0, 0, 0.5);
color: white;
border: none;
padding: 10px;
cursor: pointer;
}

.mySlides {
display: none;
padding: 80px;
text-align: center;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -30px;
padding: 16px;
color: #888;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
position: absolute;
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
color: white;
}

.dot-container {
text-align: center;
padding: 20px;
background: #ddd;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}
.expertise-container{
height:700px;
width: 1000px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 1200px;
background: linear-gradient(to bottom, #ffffff 50%, #66ffff 100%);
box-shadow: #ffb3ec 0 0 20px;}

.expertise-text{
text-align: center;
font-size: 35px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-top: 20px;
}


.slider {
position: relative;
width: 100%;
overflow: hidden;
}

.slides {
display: flex;
transition: transform 0.5s ease;
margin: 30px;

}

.slides img {
width: 100%;
display: block;

}


.bar {
top: 1500;
left: 0;

width: 100%;
padding: 25px 0;

background-image: url(../images/index/hilllls\ -\ Copy.jpg);
color: white;

font-family: Gelasio;
font-size: 18px;
margin-top: 80px;
}

.bar_content {
display: block; 

width: 100%;
transform: translateX(100%);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-size: 25px;
animation: move 30s linear infinite 
}

@keyframes move {
to { transform: translateX(-100%); }
}

@media (max-width : 991px)
{
.col{
margin-top: 300px;
margin-left:-1px ;
}
}
.footer-contact{
background-color:  #24262b;
padding: 50px 0;
height:250px;
}
.contact-container{
max-width: 1170px;
margin:auto;
display: flex;
margin-left:180px ;

}
.footer-col{
color: white;
font-size: 20px;

}
.contact-row{
line-height:27px;
}
.contact-footer-info{
text-decoration: none;
color: #bbbbbb;
}
.social-link{
line-height: 100px;
display: flex;
}
.footer-col h4{
line-height:50px;
text-underline-position: 5px;
}
.img-contact{
width:30px;
height:30px;
}